
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


h2.name {
	font-size:18px;
}

/* For modals */
.modal-label {
	display:inline-block;
	margin-bottom:15p;
	width:100px;
}

h4 {
	font-size:20px;
	margin-top:20px;
}

h2 {
	margin-top: 40px;
}

h2 > a {
	color: black;
	text-decoration: none;
}
h2 > a:hover {
	color: black;
	text-decoration: none;
}	
h1 > a {
	color: black;
	text-decoration: none;
}
h1 > a:hover {
	color: black;
	text-decoration: none;
}

.my-badge {
	display:inline-block;
	margin-bottom:15px;
}

/* SVG */

.test {
	stroke: blue;
	stroke-width: 0.1%;
	fill-opacity: 0.0;
}

.zoomrect {
	stroke: #777;
	stroke-width: 0.1%;
	fill: none;
	stroke-dasharray: 0.5%;
}

.morphy {
	fill: #fcc;
	stroke: red;
	stroke-width: 0.1%; 
}

.node-fill1 { fill: red; }
.node-fill2 { fill: green; }
.node-fill3 { fill: blue; }

.mattree circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.testing {
	fill-opacity: 0.0;
	stroke: palevioletred;
	stroke-width: 3px;
}

.redblack {
	stroke: blue;
	stroke-width: 1px;
}
.rb-red {
	fill: #f00;
}
.rb-black {
	fill: #000;
}

/*.node text { font: 28px sans-serif; }*/

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.dot { stroke-width: 0.0; }

.shape { 
	fill:#ddd;stroke-width:0.02%;stroke:#777
}

.play-shape { 
	fill:none;stroke-width:0.002%;stroke:#777
}

.poly-path { 
	fill:none;stroke-width:0.2%;stroke:deeppink
}

.shape_ { 
	fill:#aaa;stroke-width:0.002%;stroke:#444
}

.circles {
	fill: #ba5;
	stroke-width: 0.1;
}
.big {
	stroke-width: 2;
}
.yellow { fill: yellow; stroke: yellow; }
.orange { fill: orange; stroke: orange; }

.blue1 { fill: #00f; stroke: #00f; }
.blue2 { fill: #55f; stroke: #55f; }
.blue3 { fill: #aaf; stroke: #99f; }


.green-filled { fill: #0F0; stroke: #0F0; }
.c1 { fill: #F00; stroke: #F00; }
.c2 { fill: #0F0; stroke: #0F0; }
.c3 { fill: #00F; stroke: #00F; }
.c4 { fill: #F0F; stroke: #F0F; }
.kappa { fill: #000; stroke: #000; }
.invisible { opacity: 0; }

.purple  { stroke: purple;  fill: purple;  }
.gray    { stroke: #888;  fill: #888;  }
.red     { stroke: #F00;  fill: #F00;  }
.reddish { stroke: #F11;  fill: #F11;  }
.green   { stroke: #0F0;  fill: #0F0;  }
.blue    { stroke: #00F;  fill: #00F;  }
.blueish { stroke: #11F;  fill: #11F;  }
.cyan    { stroke: #0AA;  fill: #0AA;  }
.pink    { stroke: pink;  fill: pink;  }
.pinker  { stroke: #F0F;  fill: #F0F;  }
.brown   { stroke: brown; fill: brown; }
.black   { stroke: #000; }
.darkgreen { stroke: #080; }

.thin1  { stroke-width: 0.01%; }
.thin2  { stroke-width: 0.02%; }
.thin5  { stroke-width: 0.05%; }
.thin10 { stroke-width: 0.10%; }
.thin20 { stroke-width: 0.20%; }
.thin35 { stroke-width: 0.35%; }
.thin50 { stroke-width: 0.50%; }
.thin100 { stroke-width: 1%; }
.thin200 { stroke-width: 2%; }
.thin500 { stroke-width: 5%; }
.thin1k { stroke-width: 10%; }
.thin2k { stroke-width: 20%; }

.nofill { fill-opacity: 0.0; }
.nostroke { fill-opacity: 1.0; stroke-width: 0px; }


.highlight {
	stroke-width: 2;
}


/* NON SVG */

.bold {
	font-weight:bold;
}

.mylabel {
	display:inline-block;
	width:100px;
}

nav ul {
	list-style-type:none;
}

.banner {
	padding: 5px 10px 5px 20px;
	font-size: 20px;
	background-color: pink;
}

.test-mat-form > * {
	margin-left: 20px;
	margin-top: 5px;
}

.panel-group {
	margin-bottom: 0px;
}

.panel-group div.panel.panel-default {
	margin-top: 0px;
}

.thin-btn {
	padding: 3px 15px 3px 15px;
}


/* -------------- */
/*  button group  */
/* -------------- */
.btn-group button {
	background-color: #dbffdc; 
	border: 1px solid #91be91; 
	color: black; 
	padding: 6px 18px; 
	cursor: pointer; 
	float: left; 
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #3e8e41;
  }