
<!--
<div ng-repeat="doc in docs[namespace].classes">
    <h2 class="name">
        {{doc.name}}
    </h2>
    <table class="table">
        <thead>
            <th>
                <td>name</td>
                <td>type</td>
                <td>description</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>cp</td>
                <td>ContactPoint</td>
                <td>
                    Contains information about the MAT.
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->

<!--<div ng-repeat="doc in docs[namespace].functions">-->
<div ng-repeat="doc in docs.functions">    
    <section class="card">
        <h2 class="name">
            {{doc.name}}
            <span style="color:#ccc"> 
                {{fs.getParamNames(doc)}}
            </span>
        </h2>
        <div>
            <code ng-show="fs.getSignatureStr(doc)">
                {{fs.getSignatureStr(doc)}}
            </code>
            
            <div 
                class="params"
                ng-show="doc.parameters"
            >
                <span 
                    class="toggle-params fake-link"
                    ng-click="fs.showParams(model, doc.name)" 
                >
                    {{!fs.showingParams(model, doc.name) ? 'SHOW PARAMETERS' : 'HIDE PARAMETERS'}}
                </span>
                <div
                    class="details panel panel-default"
                    ng-show="fs.showingParams(model, doc.name)" 
                >
                    <ul class="list-group">
                        <li 
                            class="list-group-item"
                            ng-repeat="param in doc.parameters"
                        >
                            <span class="type">
                                {{fs.paramToStr(param.type)}}
                                <!--{{param.type | json}}-->
                            </span>
                            -
                            <span class="param-name">{{param.name}}</span>
                            -
                            <span 
                                ng-bind-html="param.htmlDescription" 
                                class="description"
                            ></span>
                        </li>
                    </ul>
                    <div 
                        class="panel-body"
                        ng-if="doc.returns"
                    >
                        <span class="returns">
                            Returns
                        </span>
                        <span class="type">
                            {{fs.paramToStr(doc.returns.type)}}
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <p 
            ng-bind-html="doc.htmlDescription" 
            class="function-description"
        ></p>
        <pre ng-if="doc.example"><code ng-bind-html="doc.example" class="javascript"> 
        </code></pre>
    </section>
</div>